* {
  background: pink;
}

.btn {
  height: 20px;
  width: 100px;
  margin: 30px;
  padding: 5px;
  color: white;
  background: red;
  text-align: center;
  cursor: pointer;
}

textarea {
  background: wheat;
  font-size: 20px;
  border: 2px solid black;
  height: 200px;
  width: 300px;
}
